.categories {
  cursor: pointer;
  /* border: 1px solid black; */
}

@keyframes borderAppear {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.activeCategory {
  position: relative;
  font-weight: bold;
}

.activeCategory::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: black;
  animation: borderAppear 0.5s linear forwards; /* Adjust the animation duration as needed */
}

.card {
  width: 80% !important;
}

.card-image {
  width: 90%;
  height: 14rem;
}

.card-title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-image {
  width: 20rem;
  height: 20rem;
}

.link {
  text-decoration: none;
  color: black;
}

.added-to-cart {
  /* background-color: #4caf50; */
  transition: background-color 0.5s ease;
}

@keyframes deleteHorizontalAnimation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(40%);
    opacity: 0;
  }
}

/* Apply the horizontal animation to the table rows */
tr.delete-horizontal-animation {
  animation-name: deleteHorizontalAnimation;
  animation-duration: 1s;
  /* Adjust the duration as needed */
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.product-image {
  padding: 30px;
  background-color: white;
  /* border: 1px solid black; */
}

.product-category-heading {
  font-size: 14px;
  margin-bottom: 0;
}

/* rating */
.starRating {
  display: inline-block;
}

.starFilled {
  color: gold;
  /* Change this to your desired color */
}

.starEmpty {
  color: gray;
  /* Change this to your desired color */
}

.reviews {
  border-left: 2px solid gray;
  padding-left: 10px;
}

.hero-container {
  height: 70vh;
  /* width: 100vw; */
  /* background-color: #f5f5f5;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-row {
  width: inherit;
}

.hero-image {
  width: 100%;
}

.hero-title {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

.cart {
  box-shadow: 5px 3px 3px rgb(172, 172, 172);
  font-size: 14px;
}

.cart-parent{
  min-height: 60vh;
  flex-grow: 1;
}

.summary-text{
  font-size: 16px;
}

.column-spacing {
  margin-left: 8%; /* Adjust the margin as needed */
}

footer{
  /* border-top: 1px solid gray; */
  /* width: 100%; */
  background-color: rgb(248,249,250);
  /* position: sticky; */
  bottom: 0;
}
.quick-links-list {
  list-style: none; /* Remove bullets */
  padding-left: 0; /* Remove default left padding */
}

/* styles.css */
.badge {
  /* position: absolute; */
  /* top: -10px;  */
  /* right: -10px;  */
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 7px;
  font-size: 12px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffc107;
  color: #fff;
  padding: 5px 10px;
  border-radius: 40%;
  cursor: pointer;
  display: none;
}

.scroll-to-top.visible {
  display: block;
}