/* font-family: 'Libre Baskerville', serif;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif; */

h1, h3{
  font-family: 'Libre Baskerville', serif;
}

p{
  font-family: 'Lora', serif;
  font-size: 18px;
}

Navbar{
  font-family: 'Libre Baskerville', serif;
}


