/* font-family: 'Libre Baskerville', serif;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif; */

h1, h3{
  font-family: 'Libre Baskerville', serif;
}

p{
  font-family: 'Lora', serif;
  font-size: 20px;
}

Navbar{
  font-family: 'Libre Baskerville', serif;
}

.custom-table{
  background-color: aliceblue !important;
}

.product-image{
  padding: 30px;
  background-color: white;
  border: 1px solid black;
}